services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: spring-boot-app:latest
    environment:
      SPRING_DATASOURCE_URL: ${HIBERNATE_CONNECTION_URL}
      SPRING_DATASOURCE_USERNAME: ${HIBERNATE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${HIBERNATE_PASSWORD}
    ports:
      - "8080:8080"
    depends_on:
      simpleTask:
        condition: service_healthy

  simpleTask:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    labels:
      org.springframework.boot.ignore: "true"

volumes:
  postgres_data:
